clint==0.5.1
colorama==0.4.4
colorlog==6.6.0
mysql_connector_repackaged==0.3.1
prettytable==3.0.0
progressbar33==2.4
pyautogui==0.9.53
pyfiglet==0.8.post1
pynput==1.7.6
python-dotenv==0.19.2
PyYAML==6.0
